.button
  align-items: center
  background-color: $primary-color
  border: none
  border-radius: 25px
  color: $text-color
  cursor: pointer
  display: inline-flex
  font-family: 'Montserrat', Arial, sans-serif
  font-size: 14px
  font-weight: 700
  justify-content: center
  line-height: 24px
  padding: 13px 34px
  text-decoration: none
  text-align: center
  text-transform: uppercase
  transition: background-color 0.3s
  vertical-align: middle

  &:hover,
  &:active
    background-color: darken($primary-color, 10%)

  &:disabled,
  &.disabled
    cursor: default
    opacity: 0.5

    &:focus
      outline: none

  svg
    fill: $text-color
    height: 18px
    margin-right: 10px
    width: 18px

  &--loading
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin:auto;display:block;' width='100px' height='100px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Ccircle cx='50' cy='50' fill='none' stroke='%23101010' stroke-width='2' r='14' stroke-dasharray='65.97344572538566 23.991148575128552'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='1s' values='0 50 50;360 50 50' keyTimes='0;1'%3E%3C/animateTransform%3E%3C/circle%3E%3C/svg%3E")
    background-position: 50% 50%
    background-repeat: no-repeat
    color: transparent
    opacity: 0.5
    pointer-events: none
