<footer class="footer">
  <div class="footer__inner container">
    <div class="footer__left">
      <div class="footer__logo">
        <picture>
          <source srcset="images/logo.svg" media="(min-width: 768px)">
          <img src="images/logo_vertical.svg" alt="Новые строительные технологии">
        </picture>
      </div>
      <p class="footer__contacts">Московская область, г.&nbsp;Химки,&nbsp;ул.&nbsp;Панфилова, вл.&nbsp;19,&nbsp;стр.&nbsp;1<br> Телефон/факс: (495) 617-08-44</p>
    </div>
    <div class="footer__center">
      <p class="footer__menu-title">Покупателям</p>
      <ul class="footer-menu">
        <li class="footer-menu__item"><a class="footer-menu__link" href="objects.html">Объекты</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="about.html">О НСТ</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="vacncies.html">Вакансии</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="news.html">Пресс-центр</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="docs.html">Документы</a></li>
      </ul>
    </div>
    <div class="footer__right">
      <img class="footer__logo" src="images/kgpsm_logo.png" srcset="images/kgpsm_logo@2x.png 2x" alt="Новые строительные технологии">
      <p class="footer__logo-text">Комплекс градостроительной политики<br> и строительства города Москвы</p>
    </div>
  </div>
  <div class="footer__bottom"><p>© NCT Group 2003-2021</p></div>
</footer>
