<header class="header compensate-for-scrollbar">
  <div class="header__inner container">
    <a class="header__logo" href="main.html"><img src="images/logo.svg" alt="Новые строительные технологии"></a>
    <button class="js-menu-toggler menu-toggler" type="button" title="Главное меню"><span class="menu-toggler__burger"></span></button>
    <div class="header__menu-block">
      <nav class="main-menu">
        <ul class="main-menu__list">
          <li class="main-menu__item root">
            <a class="main-menu__link" href="#">О компании</a>
            <ul class="submenu">
              <li class="submenu__item"><a class="submenu__link" href="#">О НСТ</a></li>
              <li class="submenu__item"><a class="submenu__link" href="#">Вакансии</a></li>
              <li class="submenu__item"><a class="submenu__link" href="#">Документы</a></li>
            </ul>
          </li>
          <li class="main-menu__item"><a class="main-menu__link" href="objects.html">Объекты</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="news.html">Пресс-центр</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#">Контакты</a></li>
        </ul>
      </nav>
      <div class="header__phone-block">
        <p><span class="header__phone-title">Контактный телефон</span> <a class="header__phone" href="tel:+7343124567">8 (343) 123 45 67</a></p>
        <p class="header__presentation"><a class="button" href="#" target="_blank">Скачать презентацию</a></p>
      </div>
    </div>
  </div>
</header>
